{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="column1">
             <a>
                <img class="PhotoOfMe" src="{% static 'images/Sylwester_Ejkszto_photo-removebg-preview.png' %}"
            </a>
        </div>
        <div class="column2 css-typing">
            <h2 class="h2text">Welcome on Junior Python Developer brief</h2>
            <p>Hello, I am Sylwester Ejkszto, and this is my Django project</p>
            <p>here are few of my programs written in Python!</p>
            <p>You can find them on Navigation menu</p>
            <p>currently I am learning those libraries:</p>
            <p>Django</p>
            <p>Beautifulsoup</p>
            <p>Requests</p>
            <p>Workbook</p>
            <p>Panda3D</p>
        </div>
    </div>
{% endblock content %}
